.wishlistp-title {
   display: inline-block; 
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 450px;
   margin-bottom: 10px;
}
.wishlist-viewall {
    display: inline-block;
}

.wish-title-view {
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 20px;
}
