 .wrapper{
      display:grid;
      grid-template-columns: 75% 25%;
      margin-top: 20px;
    };
    
    .header-sidebar {
      margin: 0px;
      padding: 0px;
      // margin-top: 45px;
      background-color: #FFFFFF;
       z-index: 0;
    };