 .wrapper{
      display:grid;
      grid-template-columns: 75% 25%;
    };
    
    .header-sidebar {
      // width: 100%;
      margin: 0px;
      padding: 0px;
      margin-top: 45px;
      background-color: #FFFFFF;
      //  position: absolute;
       z-index: 0;
    };