.ShoppingInfo {
    min-height: 885px;
    // display: block;
}

.ShoppingInfo2 {
 padding-top: 100px;
 padding-left: 20px;
 font-size: 24px;
 color: #333333;
 display: inline-block;
 padding-bottom: 60px;
}

.ShoppingInfo3 {

font-size: 24px;
color: #333333;
display: inline-block;
padding-left: 350px;
 padding-bottom: 50px;

}

.ShoppingInfo4 {
display:block;
}

.trendingCreativesli {
display: inline-block;
}

.shoppingC-image {
    width: 420px;  
    display: inline-block;
}

.shoppingC-image-small {
    height: 300px;
    width: 300px;
}

.main-purchase {
    display: block;
}

.main-purchase2 {
    display: inline-block;
}

.main-purchase3 {
   display: inline-block;
   padding-left: 50px;
}


.ShoppingInfo4 {
    margin-bottom: 60px;
    font-size: 20px;
}

.ShoppingInfo5 {
    margin-bottom: 10px;
}