.Wishlist{
    // background-color: red;
}

.title-wishlist {
    display: inline-block;
}

.title-view3 {
    display: inline-block;
}

.title-wishlist-view {
    border-bottom: 1px solid #EFEFEF;
};