.Wishlist{
    display: flex;
    display:inline-block;
    background-color: white;
}

.title-follow-view {

}

// wishlist title
.title-follow {
display: block;
font-size: 50px;
}

// p div (view all)
.title-view {
display: inline-block;
}

// view all div
.title-view-2{

}

// view all tag
.title-view3 {

}

// list of objects (backend)
.follow-list {

}

// title of event (backend)
.follow-name {

}

// title of event
.one {

}