.Wishlist{
    display: flex;
    display:inline-block;
    background-color: white;
}

.title-follow-view {
    border-bottom: 1px solid black;
}

// wishlist title
.title-follow {
display: inline-block;
font-size: 50px;
}
.title-follow1 {
    display: inline-block;
}

// p div (view all)
.title-view {
display: inline-block;
}

// view all div
.title-view-2{
    display: inline-block;
}

// view all tag
.title-view3 {
display: inline-block;
}

// list of objects (backend)
.follow-list {

}

// title of event (backend)
.follow-name {

}

// title of event
.one {

}