video{
    object-fit: fill;
    height: 100%;
    display: flex;
    display:inline-block;
}

.vid{
    height:100%;
}

#location-bar {
    width: 400px;
    margin-right: 10px;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: #333333;
    color: #FFFFFF;
    padding-left: 10px;
};

.save-button {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background-color: #333333;
    color: #FFFFFF;
};

#location-bar, .save-button {
    position: relative;
    top: -680px;
    right: -50px;
}