/* main div */
.suggestedEventMain {
min-height: 885px;
}

.wrap-around {
    display: inline-block;
    display: flex;
}

.wrap-around-text {
    padding: 20px;
    padding-right: 25px;
    
}

/* h1 div */
.suggestedEventMainh1 {
padding: 0px;
margin-bottom: 40px;
}
/* h1 */
.suggestedEvent {
font-size: 36px;
// text-transform: uppercase;
color: #333333;
padding-top: 80px;
padding-left: 50px;
}

/* h3 div */
.suggestedEventMainh3 {
  flex-direction: row;
  padding-bottom: 20px;
  margin-top: -10px;
}

/* h3 */
.suggestedEvent2 {
font-size: 18px;
color: #333333;
font-weight: 600;
padding-left: 30px;
}

/* p div */
.suggestedEventMainP {

}

/* p */
.suggestedEvent3 {
color: #333333;
padding-left: 30px;
margin-bottom: 30px;
padding-right: 200px;
}

/* photo div */

.suggestedEventMainPhoto {
width: 500px;
height: 300px;
margin-left: -100px;
}

/* ul */

.suggestedEventul {

}

/* li */

.suggestedEventli {
list-style-type: none;
padding: 20px;
padding-left: 25px;
padding-right: 50px;
/* border-bottom: 1px solid black; */
}


/* Comment Section */

.commentSection {
padding: 20px;
    display: flex;
    justify-content: center;
}

/* textarea */
.commentS {
    width: 800px;
    height: 100px;
    border-radius: 2px;
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    display: inline-block;
}

.suggestedbutton1 {
    border-radius: 2px;
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
     margin: 50px; 
margin-right: 5px;
margin-left: 0px;  
 float: right;
 display: block;
}

.suggestedbutton2 {
     border-radius: 2px;
    border: none;
  background-color: green;
    color: #FFFFFF;
     padding: 15px;
     margin: 50px; 
     margin-left: 0px;  
     margin-right: 10px;  
     float: right;
     display: block;
}

// Get Tickets

.btn-buyTicket {
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 2px;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 50px;
    margin-top: 20px;
}

.slide-event {
width: 100%;
}