// video{
//     object-fit: fill;
//     height: 100%;
//     display: flex;
//     display:inline-block;
// }

.vid2{
    height:120%;
}

#location-bar2 {
    width: 400px;
    margin-right: 10px;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: #333333;
    color: #FFFFFF;
    padding-left: 10px;
};

.save-button2 {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background-color: #333333;
    color: #FFFFFF;
};

#location-bar2, .save-button2 {
    position: relative;
    top: -680px;
    right: -50px;
}

.mainvideo2 {
    width: 100%;
    height:100%;
};
