// Global Var

.Footer {
    background-color: #333333;
    color: #FFFFFF;
    display: flex;
    font-size: 14px;
    flex-direction: row;
//  justify-content: center;
    width: 100%;
};

.footer-newsletter{
    padding-right: 75px;
}

.footer-social {
    padding-right: 80px;
}

.footer-newsletter {
    padding-left: 175px;
}


// Newsletter

input[type=newsletter] {
    background-color: #F2F2F2;
    color: #FFFFFF;
    font-weight: 700;
    border-style: none;
    border-radius: 2px;
    margin-right: 5px;
    font-weight: 550;
    height: 30px;
    width: 200px;
    padding-left: 10px;
    display: inline-block;

};

.button-footer {
    background-color: #8AA874;
    border-style: none;
    color: #FFFFFF;
    margin-left: 10px;
    display: inline-block;
    font-weight: 550;
    border-radius: 2px;
    height: 30px;
    width: 75px;
};

// .footer-newsletter {
//     text-align: center;
// }

.newsletter-title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.newsletter-form {
    margin-bottom: 0px;
    text-align: center;
}

input[type=submit]:hover {
    font-weight: 650;
};

// Social Media
.social-title {
    margin-bottom: 10px;
    margin-top: 10px;
}
.social-li {
    padding: 0px;
}

.social-icons {
    margin-bottom: 0px;
}

.social-icons-footer {
    width: .3in;
    // margin-right: 5px;
    padding: 0px;
}

.footer-social {
    text-align: center;
}

// Contact

.contact-li {
    margin-bottom: 10px;
    padding: 0px;
}

.contact-title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-info {
    display: block;
    color: #FFFFFF;
    font-weight: 500;
    list-style-type: none; 
    padding-top: 0px;
    padding-right: 0px;
}

.footer-contact {
    text-align: center;
}

.instagram, .facebook {
    margin-right: 10px;
}

.instagram {
    margin-left: 0px;
}

.facebook, .twitter {
    margin-left: 10px;
}

.twitter {
    margin-right: 0px;
}