// // Global Variables
.Footer {
   left: 0;
//    top: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   font-size: 14px;
   font-family: 'Helvetica Neue';
   background-color: #333333;
   color: #FFFFFF;
   text-align: center;
position: static;
   display: flex;
   flex-direction: column;
}

.footer-newsletter {
    margin-top: 50px;
}

input[type=newsletter] {
    background-color: #F2F2F2;
    color: #FFFFFF;
    font-weight: 700;
    border-style: none;
    border-radius: 2px;
    margin-right: 5px;
    font-weight: 550;
    display: inline-block;
    height: 30px;
    width: 200px;
};


// // Newsletter

.button-footer {
    background-color: #8AA874;
    border-style: none;
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: 550;
    border-radius: 2px;
    height: 30px;
    width: 75px;
};

input[type=submit]:hover {
    font-weight: 650;
};

.social-icons-footer {
    width: .3in;
    // margin-right: 5px;
    padding: 0px;
}

// // Contact

.contact-li {
    // margin-bottom: 10px;
    padding: 0px;
}
