// Global Var

.Footer {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
  
};


// Logo & Title

// .logoWhite {
//     width: .5in;
//     margin: 20px;
// };

// .rouse-footer-title {
//     margin: 0px;
//     margin-left: 20px;
//     margin-bottom: 20px;
// }


// Newsletter

input[type=newsletter] {
    background-color: #333333;
    color: #FFFFFF;
    font-weight: 700;
    border-style: none;
    border-radius: 2px;
    margin-right: 5px;
    font-weight: 550;
    height: 30px;
    width: 300px;
};

input[type=submit] {
    background-color: #8AA874;
    border-style: none;
    color: #FFFFFF;
    margin-left: 5px;
    font-weight: 550;
    border-radius: 2px;
    height: 30px;
    width: 75px;
};

.newsletter-title {
    margin-bottom: 20px;
    margin-top: 40px;
}

.newsletter-form {
    margin-bottom: 40px;
}

input[type=submit]:hover {
    font-weight: 650;
};

// Social Media
.social-title {
    margin-bottom: 20px;
    margin-top: 40px;
}
.social-li {
    padding: 0px;
}

.social-icons {
    margin-bottom: 40px;
}

// Contact

.contact-li {
    margin-bottom: 40px;
    padding: 0px;
}

.contact-title {
    font-weight: 650px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.contact-info {
    display: block;
    font-weight: 500;
    font-size: 16px;
    list-style-type: none; 
    padding-top: 0px;
}