.title-view2 {
    display: inline-block;
}

.title-following-view {
    border-bottom: 1px solid #EFEFEF;
    padding: 5px;
}

.follow-list {
    padding: 10px;
      border-left: 1px solid #EFEFEF;
}
.title-follow {
    display: inline-block;
    padding: 10px;
    padding-right: 165px;
}

.title-view {
    display: inline-block;
};

.title-follow-view {
    border-bottom: 1px solid #EFEFEF;
    border-left: 1px solid #EFEFEF;
    padding: 0px;
}

.follow-name, .follow-name2, .follow-name3 {
display: inline-block;
padding: 2px;
};


.first, .second, .third {
    width: 20%;
    display: inline-block;
}

.one, .two, .three {
    padding-bottom: 10px;
}

.one {
    padding-top: 10px;
}

.third {
    padding-bottom: 0px;
}

.followers, .followings {
    display: inline-block;

}

.button-follow1 {
    display: inline-block;
}

.button-follow2 {
    display: inline-block;
}

.button-follow3 {
    display: inline-block;
}

.followings {
width: .15in;
}

.followers {
    width: .22in;
}

.name-button {
    display: inline-block;
}