.mainvideo {
    width: 75%;
};

#location-bar {
    width: 300px;
    margin-right: 10px;
    height: 40px;
    border: none;
    border-radius: 2px;
    background-color: #EFEFEF;
    border: 1px solid black;
    color: #FFFFFF;
    padding-left: 10px;
};

.save-button {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background-color: #8AA874;
    color: #FFFFFF;
};

.location-bar-button {
 position: relative;
    left: 100px;
    top: -380px;
};

// .Header{
//     -webkit-transform: scale(0.67);
//        -moz-transform: scale(0.67);
//             transform: scale(0.67);
// }