.Wishlist{
    display: flex;
    display:inline-block;
    background-color: white;
}

.title-wishlist {
    display: inline-block;
}

.title-view3 {
    display: inline-block;
}

.title-wishlist-view {
    border-bottom: 1px solid #EFEFEF;
};

.likes {
    width: .18in;
}

.button-follow1, .button-follow2, .button-follow3 {
padding-bottom: 5px;
}

.title-view {
    padding-left: 100px;
    display: inline-block;
}

.title-view-2 {
    padding-left: 113px;
    display: inline-block;
}

.title-follow-view {
    border-bottom: 1px solid #EFEFEF;
}

.title-follow {
    display: inline-block;
}