.title-follow-view {
     border-bottom: 1px solid #EFEFEF;
      display: flex;
     justify-content: space-between;
     padding-bottom: 10px;
     padding-top: 10px;
}

.title-wishlist {
    display: inline-block;
}

// .title-follow {
//     display: inline-block;
//     padding-right: 10px;
//     justify-content: space-between;
// }

// .title-view3 {
//     // display: inline-block;
//     // padding-left: 20px;
//     justify-content: space-between;
// }


.likes {
    width: .18in;
}

.button-follow1, .button-follow2, .button-follow3 {
padding-bottom: 5px;
}

.title-view {
    padding-left: 100px;
    display: inline-block;
}

.title-view-2 {
    padding-left: 113px;
    display: inline-block;
}


