.title-follow-view {
     border-bottom: 1px solid #EFEFEF;
     display: flex;
     justify-content: space-between;
     padding-bottom: 10px;
     padding-top: 10px;
}

.title-wishlist {
    display: inline-block;
}

.likes {
    width: .18in;
}

.button-follow1, .button-follow2, .button-follow3 {
padding-bottom: 5px;
}

.title-view {
    padding-left: 100px;
    display: inline-block;
}

.title-view-2 {
    padding-left: 113px;
    display: inline-block;
}


